<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='stylesheets/error.css'>
  </head>
  <body>
    <div id="main">
	<div class="fof">
	<h1>Error 404</h1>
	</div>
	</div>
  </body>
</html>
