<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title>Forgot Password</title>
</head>
<body ng-app="ForgotApp">
  <div class="login-box">
    <h2>Login</h2>
    <form action="" class="form" ng-controller="ForgotController">
      <div class="user-box">
        <input class="input" type="email" ng-model="mail.email" required="">
        <label class="label" for="">Email</label>
      </div>
      <a href="#" ng-click="Forgot(mail)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Send
      </a>
      <br>
    </form>
  </div>
</body>
<script type="text/javascript" src="javascripts/angular/angular.min.js"></script>
<script type="text/javascript" src="javascripts/login/forgot.js"></script>
</html>